PORT=4000
NODE_ENV=development
MONGODB_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/?retryWrites=true&w=majority&appName=<appName>
MONGODB_DB_NAME=einfachsparen_dev
ADMIN_ORIGIN=http://localhost:5174
CRAWL_REGION=Grossraum Graz
CRAWL_RUN_ON_START=true
CRAWL_INTERVAL_MINUTES=360
